@import url(https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap);
html,body{
	font-family:Sedgwick Ave Display,cursive ;
	margin: 0;
	padding: 0;
}
a {
	border-radius: 0.3rem;
	color: #ffffff;
	font-size: 1.5rem;
	text-align: center;
	background-color: coral;
	text-decoration: none;
	padding: 10px;
}
a:hover{
	opacity: 0.6;
	transition: 0.5s;
}
header{
	color: #ffffff;
	background-image: url(../css/img/img_1.jpg);
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	align-items: center;
	padding: 4rem 2rem;
}
header>h1{
	font-size: 4rem;
}