.deco {
	text-decoration: none;
	text-decoration: underline;
	text-decoration: line-through;
}
.height {
	line-height: 2em;
}
.left { 
	text-align: left;
}
.right { 
	text-align: right;
}
.center {
	background-color: darkcyan; 
	height: 300px;
	line-height: 300px;
	text-align: center;
}