.cook1{
	list-style: none;/* 없음 */
	list-style: decimal; /* 숫자 */
	list-style: upper-alpha;/* 대문자 영어 */
	list-style: lower-alpha;/* 소문자 영어 */
/*  */
}
.cook2 {
	
	list-style-position: inside; /* outside는 디폴트 값이다 */
}
.cook3 {
	list-style-image: url(../img/images.jpg);
	list-style-position: inside;
}