[target] {
	color: green;
}
[target=daum] {
	color: blue;
}/* 속성값과 일치하는 요소 */
[class*=att_class] {
	color: rgb(42, 165, 149);
}/* 설정한 일정속성값이 일치 */
[class~=att_class] {
	color: chocolate;
}/* 설정한 속성값이 포함 */
[class|=att] {
	color: yellowgreen;
}
[class^=co] {
	color: pink;
}/* 특정 속성값으로 시작 */
[class$= k1] {
	color: greenyellow;
}/* 특정 속성값으로 끝 */