.container {
	border: 1px solid #000;
	position: relative;
	width: 700px;
	height: 700px;
}
.position1 {
	
	position: absolute;
	top: 50px;
	left: 50px;
}
.position2 {
	
	top: 100px;
	left: 300px;
	position: absolute;
}
.position3 {
	
	top: 300px;
	left: 50px;
	position: absolute;
}
div {
	border: 1px solid #000;
	
	width: 200px;
	height: 200px;
}