body {
	background-color: #000;
}
div {
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	background: #fff url(../img/SGnoDsJER.jpeg) no-repeat right bottom/50%;
	height: 600px;
}
h1 {
	
background-color: #000;
color: white;
height: 100px;
text-align: center;
line-height: 100px;

}
ul {
	list-style: none;
}
h2 {
	text-align: center;
}
p {
	color: red;
}

