*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(../../doc/IE002804169_STD.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}	
	
header{
	width: 100%;
	background-image: url(../../doc/6779706-sky.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding:3rem;
	
}
header>h1{
	margin:0;
	color: white;
	text-align: center;
	font-size:4rem;
}

.m-a{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #000;
	color: #ffffff;
	border-radius: 50%;
	
	
	left : 60%;
	
}

th {
    text-align: center;
    background-color: goldenrod;
    padding: 10px 0;
    color: rgb(255, 255, 255);
}
td{
	
	text-align: center;
	
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
	max-width: 200px;
}
section {
	text-align: center;
}
a {
	text-decoration: none;
	display: inline-block;
	
    
	
}
.a_can{
	display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
    margin: 0 2px
}


.header_color:visited {
	color:#ffffff
}	
.page-btn{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #000;
	color: #ffffff;
	border-radius: 50%;
	
}
.page-btn:hover {
 background-color: aqua;
 color: #000;
}

.dt_a {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #000;
	color: #ffffff;
	
	border-radius: 50%;
}
.dt_a:hover{
	background-color: aqua;
 	color: #000;
}


.m-a:hover{
	background-color: aqua;
 	color: #000;
}

.in_btn:hover{
	background-color: aqua;
 	color: #000;
}
.a_can:hover{
	background-color: aqua;
 	color: #000;
}

.container {
    
    width: 1000px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
	background-color: lightcoral;
}
input, textarea{
	width: 80%;
	background-color:transparent;
	border-style: none;

	
	
	
	
}
f
.in_ti{
	text-align: center;
    background-color: goldenrod;
    font-size: 20px;
    color: rgb(255, 255, 255);

	

}
textarea {
   vertical-align: middle;
    resize: none;
	
}
.in_btn{
	position: relative;
	display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
    margin: 0 2px
}
  .in_btn:hover::after {
	content: '다시 한 번 확인해 주세요.';
	background-color: black;
	color: white;
	width: 300px;
	font-size: 20px;
	position: absolute; 
	top: 0px;
	left: 150px;
}
.bk-a{
	background-color: dimgrey;
}
.table-striped {
    margin: 20px auto;
    width: 800px;
    border-collapse: separate;
    border-spacing: 0 5px;
}