*{
	margin: 0;
	padding: 0;
	width: 500px;
}

header{
	background-color: #ffcf02;
	text-align: center;
}
main{
	margin: 30px auto;
	
	text-align: center;
}
table{
	background-color: #282864;
	width: 450px;

	margin: auto;
	position: relative;
}
tr{
	margin: 30px;
}
th{
	background-color: #ffcf02;
	width: 200px;
	
	position: absolute;
	
	left:5px;
}
td{
	width: 80%;
	word-break:break-all;
	background-color: #ffffff;
	
	
}
.dt_td{
	width: 50%;
	margin: auto;
}

img{
	width: 150px;
	height: 150px;
	padding: 10px;	
	border-radius: 50%;
}
section>a{
	text-decoration: none;
	background-color: #ffcf02;
	color: #ffffff;
	
}
footer{
	display: flex;
	justify-content: space-around;
	background-color: #282864;
	position:fixed;
	bottom: 0;
	width: 500px;
	text-align: center;
	
}
footer>div{
	color: #ffffff;
}