footer{
	display: flex;
	justify-content: space-around;
	background-color: #282864;
	position:fixed;
	text-align: center;
	bottom: 0;
	width: 500px;
	height: 88px;
	line-height: 88px;
}

	
footer>div>a{
	color: #ffffff;
	text-decoration: none;
	font-size: 39px;
		
}
.img_add{
	width: 64px;
	height: 64px;
	margin-top: 10px;
}
.img_plus{
	width: 67px;
	height: 67px;
	margin-top: 10px;
}