* {
	margin: 0px;
	padding: 0px;
}

h1 {
	width: 500px;
	height: 138px;
	background-color:rgba(255, 207, 2, 1);
	border: 1px solid none;
	text-align: center;
	line-height: 138px;
	font-weight: bold;
	font-size: 89px;
	color: white;
	box-sizing: border-box;
}

body {
	width: 500px;
	height: 900px;
}

main {
	padding: 38px 42px;
	color: white;
	font-size: 22px;
	font-weight: bold;
}

form {
	width: 417px;
	background-color: rgba(40, 40, 100, 1);
	border: none;
	box-sizing: border-box;
	padding: 38px 42px;
	border-radius: 10px;
	position: relative;
}

.insert_te {
	width: 320px;
	height: 47px;
	background-color: white;
	border-radius: 10px;
	box-sizing: border-box;
	color: black;
	font-size: 22px;
}

.insert_tit {
	width: 115px;
	height: 47px;
	background-color:rgba(255, 207, 2, 1) ;
	position: absolute;
	text-align: center;
	line-height: 47px;
	border-radius: 10px 0px 0px 10px;
	font-weight: bold;

}

.insert_in {
	position: absolute;
	height: 47px;
	border-radius: 10px 0px 0px 10px;
	border: none;
	box-sizing: border-box;
	width: 115px;
	background-color:rgba(255, 207, 2, 1) ;
	font-weight: bold;
	color: white;
	text-align: center;
	line-height: 47px;
}

#file {
	color: #000;
	line-height: 47px;
	margin-left: 13%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.insert_in2 {
	position: absolute;
	width: 205px;
	height: 47px;
	left: 115px;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	text-align: center;
	background-color: white;
	border-radius: 0 10px 10px 0;
}

.form_a {
	width: 115px;
	height: 47px;
	background-color:rgba(255, 207, 2, 1) ;
	position: absolute;
	text-align: center;
	line-height: 47px;
	border-radius: 10px 0px 0px 10px;
	color: white;
	text-decoration: none;
}

textarea {
	margin: 0;
	width: 320px;
	height: 100px;
	resize: none;
	padding: 21px 24px;
	box-sizing: border-box;
	border-radius: 10px;
	display: block;
	margin-bottom: 14px;
}

.insert_div {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 14px;
}

section {
	margin-top: 19px;
	margin-left: 50%;
	margin-bottom: 19px;
}

.insert_se {
	padding: 10px 25px;
	border: none;
	background-color: rgba(255, 207, 2, 1);
	color: white;
	font-weight: bold;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 22px;
	border-radius: 10px;
}